NEXTAUTH_URL = http://192.168.2.121:7000  #your local machine IP address or frontend url
NEXTAUTH_SECRET = jmCodlTSQHgUd3whlxpuephuJFIUiohVbdi3V7APwyk=
NEXT_PUBLIC_REACT_APP_BACKEND_API_URL = https://leafassets-api.andolasoft.co.in

# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

#npx @rtk-query/codegen-openapi config/assetConfig.ts